# ignore the virtual environment
/myenv

# ignore the dataset
/data

# ignore other repos
/adaptive-wavelets

# ignore the settings
/.vscode

# ingore all the __pycache__
/**/__pycache__

# ignore the language dataset
/datasets/data

# ignore tests
/test

# ignore RPCA
/RPCA-LoRA

# ignore the papers
/paper

# ignore the nanoGPT
/nanoGPT

